body{
    background-color: pink;
}
.navbar{
    background:linear-gradient(to right,rgba(0, 0, 0, 0.532),black);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
}
.navbar>h1{
    text-transform: uppercase;
    text-decoration: underline dotted;
}
.firstrow{
    display: flex;
    gap: 5%;
    margin-top: 1%;
    align-items:center;
}
.one{
    border: 2px solid black;
    border-radius: 15px;
    padding: 35px 80px 85px 20px;
    margin-left: 5%;
    transition: background-color 2s linear 1s,transform 2s ease 1s,border-radius 2s ease 1s;
}
.one:hover{
    background-color: rgba(113, 113, 186, 0.492);
    transform: rotate(15deg);
}
.one>img{
    transition: transform 3s ease 1s;
    padding-right: 600px;
    border-radius: 120px;
}
.one>img:hover{
    transform: translate(500px,0);
}
.one>span{
    font-weight: bold;
    text-transform: uppercase;
}
.two{
    border: 2px solid black;
    padding: 55px;
    border-radius: 15px;
    transition: background-color 2s linear 1s,transform 2s ease 1s;
}
.two:hover{
    background-color: rgba(68, 214, 175, 0.492);
    transform: scale(0.2) translate(-29px,3px);
}
.two>span{
    font-weight: bold;
    text-transform: uppercase;
}
.secondrow{
    margin-top: 1%;
    margin-left: 5%;
    display: flex;
    gap: 30px;
}
.secondrow>.sone{
    border: 2px solid black;
    padding: 40px 40% 40px 0px;
    font-weight:bold ;
    font-size: 15px;
    transition:transform 2s ease 1s,border-radius 1s ease-in-out 1s ;
}
.secondrow>.sone:hover{
    transform: skew(20deg,4deg);
    border-radius: 25px;
}
.secondrow>.stwo{
    border: 2px solid black;
    padding: 40px 30% 40px 0px;
    font-weight: bold;
    font-size: 15px;
    transition:transform 0s ease 0s,color 1s linear 0s,font-size 1s ease-in 1s,border-radius 1s ease-in-out 1s ;
}
.secondrow>.stwo:hover{
    transform:translate(-7px,0px) ;
    color: darkorange;
    font-size: 16px;
    border-radius: 25px;
}
#lastrow{
    background-color: black;
    color: white;
    text-align: center;
}